1+1

In [2]:
print('Hello worl!')

Hello worl!

In [3]:
5//2

2

In [4]:
10//3

3

In [5]:
1+2j

(1+2j)

In [6]:
type(1+2j)

complex

In [7]:
1j**2

(-1+0j)

In [1]:
2*2

4

In [9]:
3**3

27

In [10]:
a = True
b = False

In [11]:
a | b

True

In [12]:
a = 1
b = 1

In [13]:
a == b

True

In [14]:
a != b

False

In [15]:
c = a

In [16]:
c is a

True

In [17]:
id(c)

140712475694752

In [18]:
id(a)

140712475694752

In [19]:
a = "My name is truong"

In [20]:
type(a)

str

In [21]:
a = 1

In [22]:
type(a)

int

In [23]:
list_1 = []

In [24]:
set_1 = set([1, 2])

In [25]:
set_1

{1, 2}

In [26]:
type(set_1)

set

tuple_1 = ()

In [27]:
dict_1 = {"name": 'Truong'}
dict_1

{'name': 'Truong'}

In [28]:
list_1 = [1, 2, 3, 4]
list_1

[1, 2, 3, 4]

In [29]:
list_2 = [1, 2, 'Truong', 'Mr.Dong']

In [30]:
list_2

[1, 2, 'Truong', 'Mr.Dong']

In [31]:
list_3 = [1, 2, 'Truong', [3, 4]]

In [32]:
list_3

[1, 2, 'Truong', [3, 4]]

In [33]:
list_3[2] = 'Dong'

In [34]:
list_3

[1, 2, 'Dong', [3, 4]]

In [35]:
del list_3[0]

In [36]:
list_3

[2, 'Dong', [3, 4]]

In [37]:
list_3.pop(1)

'Dong'

In [38]:
list_3.pop(-1)

[3, 4]

In [39]:
list_3

[2]

In [40]:
a = [1, 2, 3, 4, 5]

In [41]:
a.append('Truong')

In [42]:
a.append([7, 8])

In [43]:
a

[1, 2, 3, 4, 5, 'Truong', [7, 8]]

In [44]:
list_1

[1, 2, 3, 4]

In [45]:
a + list_1

[1, 2, 3, 4, 5, 'Truong', [7, 8], 1, 2, 3, 4]

In [46]:
a.append(list_1)

In [47]:
a

[1, 2, 3, 4, 5, 'Truong', [7, 8], [1, 2, 3, 4]]

In [48]:
a.extend(list_1)

In [49]:
a

[1, 2, 3, 4, 5, 'Truong', [7, 8], [1, 2, 3, 4], 1, 2, 3, 4]

tuple immutable

In [50]:
tup_1 = (1, 2, 3, 4)

In [51]:
tup_1

(1, 2, 3, 4)

In [52]:
tup_1[0]

1

In [53]:
a, b, c, d = tup_1[0], tup_1[1], tup_1[2], tup_1[3]

In [54]:
a

1

In [55]:
d

4

In [56]:
list_1

[1, 2, 3, 4]

In [57]:
list_1[1]= 'Truong'
list_1

[1, 'Truong', 3, 4]

In [58]:
tup_1

(1, 2, 3, 4)

In [59]:
tup_1[1] = 'Truong'

TypeError: 'tuple' object does not support item assignment

In [ ]:
del tup_1[1]

In [ ]:
li = list(tup_1)

In [ ]:
li = [1, 1, 2, 2]
li

In [ ]:
set_1 = set((1, 2, 3, 4))
set_1

In [ ]:
set_2 = set((4, 3, 5, 6))

In [ ]:
set_1.intersection(set_2)

In [ ]:
set_1.union(set_2)

In [ ]:
dir(set_1)

In [ ]:
dict_1 = {'name': 'Truong', 'age': 30}

In [ ]:
dict_1

In [ ]:
dict_1['name'] = 'Nam'

In [ ]:
dict_1

In [ ]:
dict_1['toi']

In [ ]:
dict_1.get('toi', 'Truong')

In [ ]:
dict_1['uni'] = 'BK'

In [ ]:
dict_1

In [ ]:
dir(dict_1)

In [ ]:
a = range(1, 10)
even_li, odd_li = [], []

for i in a:
    if i == 5:
        continue
    if i%2 == 0:
        even_li.append(i)
    else:
        odd_li.append(i)

In [ ]:
even_li

In [ ]:
odd_li

a = 12
b = 10
a